<!doctype html>
<html>
<head><title>Academy Awards Data</title></head>
<body>
<h2>Welcome, fellow movie-lover!</h2>
<p>
Please enter a year, award category, film, or nominee to learn about. Please leave all
other categories besides the one of interest as NA.<br> 
Year can range from 1929 to 2024.<br>
Category can be: Picture, Actor, Supporting Actor, Actress, Supporting Actress,
Director, Assistant Director, Cinematography, Costumes, Dance, Documentary Feature, 
Documentary Short, Editing, International Feature, Animated Feature, Animated Short, 
Live Action Short, Short, Makeup, Production Design, Score, Song, Sound, Visual Effects, 
Writing, Adapted Writing, Original Writing, Special Award, Irving G. Thalberg Memorial Award,
or Jean Hersholt Humanitarian Award.<br>
Film can be the exact title of any nominated film. Titles should include special characters.
Non-English film titles may be in English or in their original language.<br>
Nominee can be the exact name of any nominated individual formatted as: FirstName LastName.
</p>
<form action="/display">
Year: <input type='text' name='year_entry'><br>
Category: <input type='text' name='cat_entry'><br>
Film: <input type='text' name='film_entry'><br>
Nominee: <input type='text' name='nom_entry'><br>
<input type='submit' value='Continue'>
</form>
</body></html>
